---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  githubUrl: string;
  posterMail: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
  apoiaseMtst: string;
}

const { states, mainState, githubUrl, posterMail, currentState, apoiaseMtst } = Astro.props;
const sortedStates = [...states].sort((a) => (a.slug === mainState ? -1 : 1));
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  ESTADOS/STATES<br />
  {
    sortedStates.map((state, index) => (
      <>
        {index !== 0 ? " - " : ""}
        {isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          state.data.abbr
        )}
      </>
    ))
  }

<br />
<br>
<b>Campanha emergencial para apoiar as pessoas atingidas pelas enchentes, garantindo que elas recebam refeições nutritivas em seus territórios. <br>
São mais de 24 mil pessoas desalojadas em 235 municípios, segundo dados da Defesa Civil. <br>
A Comunidade APOIA.se e a Cozinha Solidária do MTST se uniram para alimentar as pessoas em meio a situação alarmante das enchentes do RS.</b><br>
<a href={apoiaseMtst} class="class2" target="_blank">{apoiaseMtst}</a>
<a href={apoiaseMtst} class="class2" target="_blank">{apoiaseMtst}</a>
<a href={apoiaseMtst} class="class2" target="_blank">{apoiaseMtst}</a>

  <Content />
</p>
